@keyframes slideFromLeft {
    0% {
      transform: translateX(0%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  .animate-slide-from-left {
    animation: slideFromLeft 3s ease-in ;
  }